nav {
    // nice way to space between the two elements
    display: flex;
    align-items: center;
    justify-content: space-between; //normally would be center

    background: rgba(0, 0, 0, 0.308);

    h1 {
        color: white;
        margin: 15px;
    }
    h1:hover {
        color: $secondary-color;
    }

    ul {
        display: flex;
        list-style-type: none;
    }
    
    li {
        padding: 15px;
    }

    a {
        color: set-text-color($primary-color);
        text-decoration: none;
    }

    a:hover {
        color: $secondary-color;
    }
}